.no-space {
>  white-space: nowrap;
}

.octicon {
    font: normal normal normal 20px/1 Octicons !important
}


/*
.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}
*/

/*
table { border: none; border-collapse: collapse; }
table td { border-left: 1px solid #000; }
table td:first-child { border-left: none; }
*/

/*.table td {
    text-align: center;
}*/

.table td, .table th {
    border-top: 0px solid #dee2e6;
}

.top-row {
    border-top: 2px solid #dee2e6;
}

.second-top-row {
}

/* applies to cell div */
.lefty-border {
    border-left: 1px solid #dee2e6
}

.lefty-border-plus {
    border-left: 1px solid #dee2e6;
    padding-top: 16px;
    padding-bottom: 10px;
}

.full-lefty-border {
    border-left: 1px solid #dee2e6
}

/* applies to th / td */
.no-left-padding {
    padding-left: 0px !important
}

/*
i {
    font-size: 5em;
}
*/

.bigass {
    font-size: 1.4em;
}

.hidden-sort {
    color: transparent !important
}

.btn-primary {
    background-color: #007bff;
}

.btn-v-small {
    padding: 0rem .5rem !important;
}

.text-align-right {
    text-align: right;
}
